{% extends 'base/main.html' %}
{% block content %}


<div class ="header-bar">
    <div>
        <h3> Hello, {{request.user.username|title}} </h3>
        <h4 style="margin: 0"><i> !You have <b>{{count}} </b>incomplete task{{count|pluralize:"s"}}! </i> </h4>
    
    </div>


</div>

<div class="card-body">
{% if request.user.is_authenticated %}
    <div class = "sofadi-one-regular">
    <h2>{{request.user}}</h2>
    </div>
    
    

    <form method="post" action="{% url 'logout' %}"style="float: center;" >
        {% csrf_token %}
        <button class="button" type="submit" style= "background-color: #16887b; color: white">Logout</button>
    </form>
    
<br>
<hr>

{% else %}
    <a href="{% url 'login' %}">Login</a>

{% endif %}

<div id= "search-and-wrapper">
    
<form method="GET" style= "margin-top: 20 px; display: flex;">
    <input type='text' name='search-area' value="{{search_input}}">
    <input class="button" type="submit" value="Search">

<a id="add-link" href= "{% url 'task-create' %}">&#x2b;</a>


</form>

</div>


<h1> TO-DO LIST</h1>


<div id="tasklist" class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper" data-position="{{task.pk}}">
        <div class="task-title">
            {% if task.complete %}
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i> {% else %}
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task-update' task.id %}">{{task}}</a> {% endif %}
        </div>
        <div class="task-controls">
            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
            <span class="handle">&nbsp;&#10247;</span>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No tasks found.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' %}">New task</a> ! </h3>
    </div>


    {% endfor %}

   
</div>
</div>


















{% endblock content %}


